button
.nav-link
{
  background: #e9ecef;

  border: none;
  color: #333;

}
.active-green {
  background-color: #3b5d50;
  color: white; /* Change the text color if needed */
}
.nav-item
{
  padding: 10px;
}
