<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

  <div class="container">
    <a class="navbar-brand" routerLink="/">Furni<span>.</span></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsFurni">
      <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item ">
          <a class="nav-link" href="index.html">Home</a></li>

        <li><a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a></li>
        <li><a class="nav-link" routerLink="/"routerLinkActive="active">About us</a></li>
        <li><a class="nav-link" routerLink="/"routerLinkActive="active">Services</a></li>
        <li><a class="nav-link" routerLink="/"routerLinkActive="active">Blog</a></li>
        <li><a class="nav-link" routerLink="/"routerLinkActive="active">Contact us</a></li>
        <li><a class="nav-link" routerLink="/test-error"routerLinkActive="active">Errors</a></li>

      </ul>

      <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5 ">
        <ng-container *ngIf="(accountService.currentUser$ | async )=== null">
          <li><a class="nav-link" routerLink="/account/login"><img src="assets/images/user.svg"></a></li>
          <li><a class="nav-link" routerLink="/account/register"><img src="assets/images/register.svg"></a></li>
        </ng-container>

        <ng-container *ngIf="accountService.currentUser$ | async as user" >
          <div class="dropdown ms-3 me-5" style="cursor: pointer;" dropdown>
            <a dropdownToggle class="dropdown-toggle">
              <strong>Welcome {{user.displayName}}</strong>
            </a>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
              <li class="py-1">
                <a routerLink="/basket" class="dropdown-item">
                  <i class="fa fa-shopping-cart me-3"></i>View basket
                </a>
              </li>
              <li class="py-1">
                <a routerLink="/orders" class="dropdown-item">
                  <i class="fa fa-history-cart me-3"></i>View orders
                </a>
              </li>
              <div class="dropdown-divider"></div>
              <li class="py-1">
                <a (click)="accountService.logout()" class="dropdown-item">
                  <i class="fa fa-sign-out me-3"></i>Logout
                </a>
              </li>
            </ul>
          </div>
        </ng-container>

        <li><div *ngIf="(basketService.basketSource$ | async) as basket" class="nav-link d-flex justify-content-between" routerLink="/basket"><img src="assets/images/cart.svg">
          <div class="count-number">{{getCount(basket.items)}}</div>
        </div></li>
      </ul>
    </div>
  </div>

</nav>
